[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fbm = "*"
retry = "*"
dc_qiskit_algorithms = "*"
hmmlearn = "*"

[dev-packages]
pytest = "*"
matplotlib = "*"
pandas = "*"
jupyter = "*"

[requires]
python_version = "3.8"
